{% extends 'base.html.twig' %}

{% block title %}Quotes{% endblock %}
{% block style %}

    .quote {
    padding : 5px;
    }
    .meta {
    color : darkgray;
    font-style : italic;
    }
{% endblock %}
{% block body %}
    <a href=" {{ path('quote_new') }}">Ajouter une citation</a>
    <a href=" {{ path('quote_random') }}">Citation aléatoire</a>
    <a href="{{  path('category_index') }}">Vers les categories</a>
    <h1> Liste des citations</h1>

    <form method="GET">
        <label><input type="text" name="search" value={{ search }} ></label>
        <input type="submit" />
    </form>

    {% if quotes == [] %}
    <p> Aucune citation ne correspond à votre recherche.</p>
    {% endif %}
    {% for quote in quotes %}
        <ul class="quote">
    <div class="content">"{{ quote.content }}"</div>
        <div class="meta"> - {{ quote.meta }}</div>
            {% if quote.category != null %}
            {{ quote.category.nom }}
            {% endif %}
            <a href=" {{ path('quote_edit',{id:quote.id}) }}">Modifier</a>
            <a href=" {{ path('quote_delete',{id:quote.id}) }}">Supprimer</a>

        </ul>
    {% endfor %}

{% endblock %}