{% extends 'base.html.twig' %}

{% block title %}Quotes{% endblock %}
{% block style %}
<style>
    .quote {
        padding : 5px;
    }
    .meta {
        color : darkgray;
        font-style : italic;
    }
    .header {
        display : flex;
        justify-content: space-between;
        flex-flow: row;
    }
</style>
{% endblock %}
{% block body %}
    <div class="header">
        <div>
            <a href=" {{ path('quote_new') }}">Ajouter une citation</a>
            <a href=" {{ path('quote_random') }}">Citation aléatoire</a>
            <a href="{{  path('category_index') }}">Vers les categories</a>
        </div>
        <div class="search">
            <form method="GET">
                <label>recherche : <input type="text" name="search" value={{ search }} ></label>
                <input type="submit" />
            </form>
        </div>
    </div>
    <h1> Liste des citations</h1>



    {% if quotes == [] %}
    <p> Aucune citation ne correspond à votre recherche.</p>
    {% endif %}
    {% for quote in quotes %}
        <ul class="quote">
    <div class="content">"{{ quote.content }}"</div>
        <div class="meta"> - {{ quote.meta }}</div>
            {% if quote.category != null %}
            {{ quote.category.nom }}
            {% endif %}
            <a href=" {{ path('quote_edit',{id:quote.id}) }}">Modifier</a>
            <a href=" {{ path('quote_delete',{id:quote.id}) }}">Supprimer</a>

        </ul>
    {% endfor %}

{% endblock %}