{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block style %}

.quote {
padding : 5px;
}
.meta {
color : darkgray;
font-style : italic;
}
{% endblock %}
{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        <tr>
            <th>citations</th>
            <td>
                {% for quote in categorie.quotes %}
                    <div class="quote">
                        <div class="content" >{{ quote.content }}</div>
                        <div class="meta">{{ quote.meta }} </div>
                    </div>
                {%  endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
